.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  max-width: max-content;
}

#id {
  margin-right: 10%;
}

.Intro {
  overflow: hidden;
}

.Intro > h1 {
  width: 100vw;
}
